
div.blue {
    background: color-icon(social);
    border-radius: 10em;
    -moz-border-radius: 10em;
    -webkit-border-radius: 10em;
    color: #ffffff;
    //display: inline-table;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    width: 100px;
    height: 100px;   
    align-items: center;
    text-align: center; 
 
   position: relative;
  }

  
h1.blue {
    position: absolute;
   top: 50%;
   left: 50%;
   height: 30%;
   width: 50%;
   margin: -25% 0 0 -25%;
  }

.number {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.centrado {
    text-align: center;
    vertical-align: top;
}

th.centrado {
    padding: 0px 0px;
    font-weight: normal;
}

.contenido {
    display: flex; 
    justify-content: center;
	margin-right: -($tiles-items--padding__mobile * 0.5);
	margin-left: -($tiles-items--padding__mobile * 0.5);
	margin-top: -($tiles-items--padding__mobile * 0.5);

	&:last-of-type {
		margin-bottom: -($tiles-items--padding__mobile * 0.5);
	}

	&:not(:last-of-type) {
		margin-bottom: ($tiles-items--padding__mobile * 0.5);
	}

	&.push-left {

		&::after {
			content: '';
			flex-basis: $tiles-item--width;
			max-width: $tiles-item--width;
			box-sizing: content-box;
			padding-left: $tiles-items--padding__mobile * 0.5;
			padding-right: $tiles-items--padding__mobile * 0.5;
			height: 0;
		}
	}
}

@media only screen and (max-width : 900px) { 
    .contenido {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: -($tiles-items--padding__mobile * 0.5);
        margin-left: -($tiles-items--padding__mobile * 0.5);
        margin-top: -($tiles-items--padding__mobile * 0.5);
    
        &:last-of-type {
            margin-bottom: -($tiles-items--padding__mobile * 0.5);
        }
    
        &:not(:last-of-type) {
            margin-bottom: ($tiles-items--padding__mobile * 0.5);
        }
    
        &.push-left {
    
            &::after {
                content: '';
                flex-basis: $tiles-item--width;
                max-width: $tiles-item--width;
                box-sizing: content-box;
                padding-left: $tiles-items--padding__mobile * 0.5;
                padding-right: $tiles-items--padding__mobile * 0.5;
                height: 0;
            }
        }
    }
}